html,
body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}


/* .logo {
    position: absolute;
    width: 146px;
    height: 60px;
    left: 50px;
    top: 50px;
} */

.layui-main {
    position: relative;
}

img {
    position: absolute;
    top: 40px;
}

.loginAndRegBox {
    position: absolute;
    width: 400px;
    height: 310px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    width: 400px;
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}